.loader {
  position: absolute;
  width: 96px;
  max-width: 6rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem #7f0203);
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #7f0203;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #230c0c;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #7f0203;
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0.5rem #7f0203;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0.5rem #7f0203;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #7f0203;
    opacity: 1;
  }
}
