@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonBold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MonSemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MonMedium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "MonRegular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MonLight";
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: white !important;
}
:root {
  --primary: transparent;
  --secondary: #004368;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 26px;
  border: 3px solid var(--primary);
}
